@charset "UTF-8";

body
{
    margin: 0;
    font-family: roboto;
}

.pie-contain
{
    width: 600px;
    height: 600px;
}

/*-- eq list --*/
.eq-list
{
    width: 300px;
    font-size: 0;
}

.eq-list .eq-item
{
    width: 100%;
    height: 35px;
}

/*-- eq item --*/
.eq-item > div
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 35px;
    height: 100%;
}

.eq-item .icon,.eq-item .amount
{
    width: 35px;
}

.eq-item .icon
{
    background-color: white;
}

.eq-item .amount,.eq-item .name
{
    font-size: 15px;
    color: white;
}



.eq-item:nth-of-type(2n) .amount
{
    background-color: rgba(255,255,255,.12);
}

.eq-item .name
{
    width: 230px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: rgba(255,255,255,.07);
}

.eq-item:nth-of-type(2n) .name
{
    background-color: rgba(255,255,255,.23);
}

/*-- eq item type colours --*/
.type-contain.torp .eq-item
{
    background-color: #20659b;
}

.type-contain.dd-gun .eq-item
{
    background-color: #df4848;
}