/*-- eq item type colours --*/
.type-contain.t1 .eq-item
{
    background-color: #df4848;
}

.type-contain.t2 .eq-item
{
    background-color: #e12f2f;
}

.type-contain.t3 .eq-item
{
    background-color: #c22222;
}

.type-contain.t4 .eq-item
{
    background-color: #cebd00;
}

.type-contain.t5 .eq-item
{
    background-color: #20659b;
}

.type-contain.t6 .eq-item
{
    background-color: #63c473;
}

.type-contain.t7 .eq-item
{
    background-color: #f36d6d;
}

.type-contain.t8 .eq-item
{
    background-color: #599fd6;
}

.type-contain.t9 .eq-item
{
    background-color: #edb404;
}

.type-contain.t10 .eq-item
{
    background-color: #8fcc99;
}

.type-contain.t11 .eq-item
{
    background-color: #e89a35;
}

.type-contain.t12 .eq-item
{
    background-color: #547d5c;
}

.type-contain.t13 .eq-item
{
    background-color: #902828;
}

.type-contain.t14 .eq-item
{
    background-color: #b2b2b2;
}

.type-contain.t15 .eq-item
{
    background-color: #66cc77;
}

.type-contain.t16 .eq-item
{
    background-color: #3cc052;
}

.type-contain.t17 .eq-item
{
    background-color: #7eccd8;
}

.type-contain.t18 .eq-item
{
    background-color: #5fadbb;
}

.type-contain.t19 .eq-item
{
    background-color: #fdc24c;
}

.type-contain.t20 .eq-item
{
    background-color: #9aa55d;
}

.type-contain.t21 .eq-item
{
    background-color: #6aff83;
}

.type-contain.t22 .eq-item
{
    background-color: #71d4e4;
}

.type-contain.t23 .eq-item
{
    background-color: #9a7faf;
}

.type-contain.t24 .eq-item
{
    background-color: #e66713;
}

.type-contain.t25 .eq-item
{
    background-color: #a2a2a2;
}

.type-contain.t26 .eq-item
{
    background-color: #b09d7f;
}

.type-contain.t27 .eq-item
{
    background-color: #ff9b00;
}

.type-contain.t28 .eq-item
{
    background-color: #c8aaff;
}

.type-contain.t29 .eq-item
{
    background-color: #cda269;
}

.type-contain.t30 .eq-item
{
    background-color: #899a4d;
}

.type-contain.t31 .eq-item
{
    background-color: #ff3636;
}

.type-contain.t32 .eq-item
{
    background-color: #bfeb9f;
}

.type-contain.t33 .eq-item
{
    background-color: #8fcc99;
}

.type-contain.t34 .eq-item
{
    background-color: #2c3a3b;
}

.type-contain.t35 .eq-item
{
    background-color: #67cba4;
}

.type-contain.t36 .eq-item
{
    background-color: #67cba4;
}

.type-contain.t37 .eq-item
{
    background-color: #3eaf11;
}

.type-contain.t38 .eq-item
{
    background-color: #3b951c;
}

.type-contain.t39 .eq-item
{
    background-color: #3b951c;
}

.type-contain.t40 .eq-item
{
    background-color: #3b951c;
}

.type-contain.t41 .eq-item
{
    background-color: #428358;
}

.type-contain.t42 .eq-item
{
    background-color: #9fbce2;
}

.type-contain.t43 .eq-item
{
    background-color: #8bc595;
}

.type-contain.t44 .eq-item
{
    background-color: #95e5a2;
}